# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entorno virtual
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Archivos y carpetas del proyecto
Temp_images/
campos/

# Archivos de caché y logs
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.tox/
.nox/
.coverage.*
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# VSCode
.vscode/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db
*.bak
*.swp
*.swo
*~

# Dependencias de Python
pip-log.txt
pip-delete-this-directory.txt

# Otros
.idea/
*.iml
*.ipr
*.iws
*.sublime-project
*.sublime-workspace